*{
    margin: 0;
    padding: 0;
}
:root{
    --blanco:white;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
   
}
#appBg{
    height: 420px;
    width: 300px;
    
}
#appBg form{
    height: 100%;
    width: 100%;
    background-color:rgb(37, 34, 34);
}
#appBg input[type=textfield]{
    width: 100%;
    height: 25%;
    cursor: default;
    background-color: rgb(37, 34, 34);
    color: var(--blanco);
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border:  1px solid rgb(187, 47, 19);

    outline: none;
    box-sizing: border-box;

}
#appBg input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-weight: bold;
    font-size: 26px;
    color: var(--blanco);
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;

}
#appBg .blue{
    background-color: rgb(66, 174, 247) !important;
    
}
#appBg .blue:hover{
    color: rgb(66, 174, 247);
    background-color: var(--blanco)!important;

}
#appBg .orange{
    background-color: rgb(231, 71, 8) !important;
}
#appBg .orange:hover{
    color: rgb(231, 71, 8);
    background-color: var(--blanco) !important;

}


